@charset "UTF-8";
/* CSS Document */

/* ===================== Hacks ===================== */


.clearfix,
.container_24 {
	zoom: 1; /* For IE6 + IE7. */
	}

.aspect_content {
	display: block;
	}
.size_small h2 {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	}